[user]
	email = juanmanuel@verges.com.do
	name = Juan Manuel Verges
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
	mylog = log --pretty=format:'%h %s [%an]' --graph
